In [24]:
import pandas as pd

In [50]:
bond=pd.read_csv("jamesbond.csv", index_col="Film")
bond.head(1)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6

In [44]:
actorIS = bond["Actor"] == "Sean Connery"
#one type of changing all the values

In [41]:
Sean_Connery = bond.query("Actor == 'Sean Connery'")
#selecting with query

In [46]:
bond.loc[actorIS, "Actor"] = "Sir Sean Connery"
#change name to another name

In [56]:
bond.rename(mapper =  {"GoldenEye" : "Golden Eye"}, inplace = True)
#rename with mapper

In [58]:
bond.rename(columns={"Year" : "Release Date"}, inplace = True)
#rename column

In [60]:
#rename all columns 
#bond.columns = ['1', '2', '3', '4', '5',"6"]

In [ ]:
# bond.drop(["A View to a Kill", "Casino Royal"], inplace=True)
#delete rows

In [ ]:
#bond.drop(["Box Office", "Actor"], axis ="columns", inplace=True)

In [ ]:
#bond.pop("Actor")
#actor = bond.pop("Actor") STORES the deleted from DF column to another DF

In [64]:
# del bond[Director]