In [1]:
"bye" == "bye"

True

In [2]:
2. == 2

True

In [3]:
4<6

True

In [4]:
4 != 6

True

In [5]:
1 < 2 and 2<3

True

In [6]:
"h" == 'h' and 2 == 2

True

In [7]:
1==1 or 2==2

True

1

In [8]:
1 == 100 or 2==2

True

In [9]:
not (1==1)

False

In [10]:
not (100 == 1)

True

In [11]:
not 400 > 500

True

In [ ]:
#CONTROL FLOW

In [15]:
if 3>2:
    print ("Its true")

Its true

In [16]:
Hungry = True
if Hungry:
    print("Feed me")

Feed me

In [18]:
Hungry = False
if Hungry:
    print("Feed me")
else: 
    print("Im not hungry")

Im not hungry

In [20]:
loc= "Bank"
if loc == "Auto Shop":
    print("Cars")
elif loc == "Bank":
    print ("Money")
else:
    print("I dont know")

Money

In [21]:
name = "Sam"
if name == "Frank":
    print ("hello franky")
elif name == "Sam":
    print ("Oh hi Sam")
else:
    print ("WHats your name")

Oh hi Sam

In [ ]:
## FOR LOOPS

In [23]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [24]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [28]:
for num in mylist:
    print ("number")

number
number
number
number
number
number
number
number
number
number

In [30]:
for num in mylist:
    #check for even
    if num %2 == 0:
        print(num)
    else:
        print(f"Odd number: {num}")

Odd number: 1
2
Odd number: 3
4
Odd number: 5
6
Odd number: 7
8
Odd number: 9
10

In [40]:
for num in mylist:
    #check for even
    if num %2 == 0:
        print(num)

2
4
6
8
10

In [37]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num #looping all sums

    print (list_sum)

1
3
6
10
15
21
28
36
45
55

In [41]:
mystr="hello world"
for letter in mystr:
    print (letter)

h
e
l
l
o

w
o
r
l
d

In [43]:

for _ in "hello world":
    print (_)

h
e
l
l
o

w
o
r
l
d

In [44]:
tup = (1,2,3)
for item in tup:
    print(item)

1
2
3

In [46]:
mylist1 = [(1,2), (3,4), (5,6),(7,8)]
len(mylist1)

4

In [47]:
for item in mylist1:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [48]:
for (a,b) in mylist1: #tuple unpacking
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [49]:
for (a,b) in mylist1:
    print(a)

1
3
5
7

In [50]:
for a,b in mylist1:
    print(a)

1
3
5
7

In [53]:
mylist2 = [(1,2,3), (4,5,6), (7,8,9),(10,11,12)]

In [54]:
for a,b,c in mylist2:
    print(b,c)

2 3
5 6
8 9
11 12

In [57]:
d ={'k1':1,'k2':2,'k3':3}
for item in d.items():  #need to add .items for get value of your key
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [59]:
d ={'k1':1,'k2':2,'k3':3} #unordered, could bring back result not in a order
for item in d.values():  #need to add .value for get only value of your key
    print(item)

1
2
3